<EditForm Model="@oleo" OnValidSubmit="@OnValidSubmit"  >
    <DataAnnotationsValidator/>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label form="nome">Nome Oleo: </label>
                <div>
                    <InputText @bind-Value="oleo.Nome" class="form-control text-uppercase" />
                    <ValidationMessage For="@(()=> oleo.Nome)" />
                </div>
            </div>
            <div class="form-group">
                <label form="fabricante">Fabricante: </label>
                <div>
                    <InputText @bind-Value="oleo.TipoOleo" class="form-control text-uppercase" />
                    <ValidationMessage For="@(()=> oleo.TipoOleo)" />
                </div>
            </div>            
        </div>
        <br />
        <div class="row mt-6">
            <div class="col-md-4">
                <button type="submit" class="btn btn-success">
                    @btnTextSubmit
                </button>
                <button type="button" class="btn btn-danger"
                        @onclick="@Cancela">
                    @btnTextCancelar
                </button>
            </div>
        </div>
    </div>
    
</EditForm>

@code {
    [Inject]
    public NavigationManager navigation { get; set; }

    [Parameter]
    public Oleo oleo { get; set; }

    [Parameter]
    public string btnTextSubmit { get; set; } = "Salvar";

    [Parameter]
    public string btnTextCancelar { get; set; } = "Cancelar";

    [Parameter]
    public EventCallback Cancela { get; set; }

    [Parameter]
    public EventCallback OnValidSubmit { get; set; }

    

}
